
#Ignore OS metadata
.DS_Store
Thumbs.db
Desktop.ini

#Ignore files build by Visual Studio
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
build/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.sln
*.idb
*.sdf

src/external/bulletphysics/**/
src/external/fbxsdk/**/
src/external/glew/glew/build/
src/external/glew/glew/lib/
src/external/glm/**/
src/external/sdl/**/

/shaders/
!/shaders/placeholder
